<h1> Create Your Account! </h1>


<%= flash[:error]   %>
<%= form_with model: @user do |f| %>
Username: <%= f.text_field :username %> <br>
Email: <%= f.text_field :email %> <br>
Password: <%= f.password_field :password %> <br>
Confirm your password: <%= f.password_field :password_confirmation%> <br>
<%= f.submit %>
<% end %>
