
<%if @user.id == current_user.id%>
  <h2><%=link_to "Upload Dog Pics", new_picture_path %></h2>
<% end %>

  <%if @user.pictures.empty?%>
    <h4>Currently No Pictures</h4>
  <%else%>
    <%if @user.id == current_user.id%>
      <h4>Here are your pics!</h4>
    <%else%>
      <h4>Here are <%= @user.username %>'s pics: </h4>
    <%end%>
      <%@pictures.order('created_at DESC').each do |picture| %>
      <h3><%= picture.title %><h3>
        <%= link_to (image_tag (picture.image_url), style:"height: auto; width: 400px;"), picture_path(picture) %><br>
    <% end %>
  <%end%>

 <%if @user.id == current_user.id%>
   <%= link_to "Delete Account", user_path(@user), :method => 'delete' %><br>
 <%end%>
