<h1> Upload Your Pic! </h1>
    <%= form_with model: @picture do |f| %>
    <%=f.label :title%>:
    <%= f.text_field :title %><br>
    <%=f.label :image_url %>:
    <%= f.file_field :image %><br>
    Or
    Paste url:
    <%= f.text_field :image_url %><br>
    <%= f.hidden_field :user_id%><br>

    <%= f.fields_for :create_tag, Tag.new do |form| %>
      <%= form.text_field :name, placeholder: "New tag" %>
      <%= form.submit %>
    <% end %>

    <br> Or Choose <%= f.label :tags%>:

    <br><%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %></br>
    <%= f.submit value="Upload Picture" %> </br>



  <% end %>
