<h1> Upload Your Pic! </h1>
    <%= form_with model: @picture do |f| %>
    <%=f.label :title%>:
    <%= f.text_field :title %><br>
    <%=f.label :image_url %>:
    <%= f.file_field :image %><br>
    Or
    Paste url:
    <%= f.text_field :image_url %><br>
    <%= f.hidden_field :user_id%><br>
    <%= f.submit value="Upload Picture" %>


    <%= f.label :tags%>:
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <% end %>
