

<%if current_user.username != @picture.user.username%>
  <h2><%=link_to "Back to #{@picture.user.username}'s profile...", @picture.user%></h2>
  <h2><%=link_to "Back to your Profile!", current_user%></h2>
<%else%>
  <h2><%=link_to "Back to your Profile!", current_user%></h2>
<%end%>


<h1><%= @picture.title %></h1>
<%= (image_tag (@picture.image_url), style:"height: auto; width: 500px;") %>
<%if @picture.user.id == current_user.id%>
  <h2><%= button_to "Delete Picture", picture_path(@picture), :method => :delete %></h2>
<%end%>

<h1>Tags:</h1><% @picture.tags.each do |tag|%>
<h2> <%=link_to tag.name, tag_path(tag)%> </h2>
<%end%>


<h1> Comment on this picture: <h1>
<%= form_with model: @comment do |f| %>
  <%= f.text_area :content %> <br>
  <%= f.hidden_field :picture_id %> <br>
  <%= f.hidden_field :user_id %> <br>
<h2>  <%= f.submit %> </h2>
<% end %><br>

<% @comments.each do |comment| %>
<h2><%= link_to comment.user.username, user_path(comment.user) %> : <%= comment.content %> <br> </h2>
<%if comment.user.id == current_user.id || @picture.user.id == current_user.id%>

  <h2> <%= button_to "Delete Comment", comment, :method => 'delete' %><br> </h2>


<%end%>

<% end %>
